# .NET Core
bin/
obj/
project.lock.json
project.fragment.lock.json
*.suo
*.user
*.userosscache
*.sln.docstates
*.cache
*.dbmdl
*.dbproj.schemaview
*.jfm
*.pdb
*.db
*.log
*.vs/

# Angular
/node_modules/
/dist/
/out-tsc/
/coverage/
/src/**/*.js
/src/**/*.js.map
/src/**/*.d.ts
/src/**/*.ngfactory.ts
/src/**/*.ngsummary.json
/src/**/*.spec.ts
/.angular/

# React
/node_modules/
/build/
/coverage/
/*.log
/.env
/.env.local
/.env.development.local
/.env.test.local
/.env.production.local
/package-lock.json
/yarn-error.log

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db
*.sqlite3
*.egg-info/
*.egg
.env
.env.local
.venv/
venv/

